@import "src/styles/variables.scss";

.loginWrapper {
  position: fixed;
  inset: 0;

  .logo {
    position: absolute;
    top: 52px;
    left: 94px;
  }

  .loginForm {
    position: absolute;
    width: fit-content;
    box-shadow: $cardShadow;
    padding: 39px 100px 152px 100px;
    top: 74px;
    left: 50%;
    transform: translateX(-50%);
    .header {
        text-align: center;
        display: flex;
        flex-direction: column;
        row-gap: 5px;
        margin-bottom: 56px;
    }
  }
}

.tabContentWrapper {
  padding-top: 48px;
}
