@import "src/styles/variables.scss";

.inputWrapper {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
  .inputField {
    border: none;
    border-bottom: 1px solid $gray5;
    border-color: $gray5 !important;
    box-shadow: none;
    border-radius: 0px;
    padding-left: 0px;
    background: transparent;
    &::placeholder {
      color: $gray3;
    }
    &:focus {
      box-shadow: none;
    }
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    input[type="number"] {
      -moz-appearance: textfield; /* Firefox */
    }
  }
}
