@import "src/styles/variables.scss";

.mainWrapper {
  .fieldWrapper {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
  }
  .forgotPassword {
    margin: 12px 0px 25px;
    text-align: end;
  }
  .actionsWrapper {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    .registerAction {
      display: flex;
      align-items: center;
      justify-content: center;
      column-gap: 4px;
    }
  }
}
