// shadow
$cardShadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
$shadow1: 2px 2px 12px 8px rgba(0, 0, 0, 0.12);

// color
$black: #000000;
$black1: #383838;
$white: #ffffff;
$green: #04953e;
$lightGreen: #f7fbf8;
$maroon: #8a1538;
$lightRed: #efc7ce;
$gray1: #585757;
$gray2: #808080;
$gray3: #a4a9ae;
$gray4: #c4c4c4;
$gray5: #d1d7db;
$gray6: #d8d1d1;
$gray7: #ababab;
$gray8: #fbf9f9;
$gray9: #4c4646;

// gradient
$headerGradient: linear-gradient(
  90deg,
  #ffffff 12.58%,
  #ffe9e9 20.91%,
  #8a1538 34.45%
);
