// shadow
$cardShadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

//color
$black: #000000;
$black1: #383838;
$white: #fff;
$green: #04953e;
$maroon: #8a1538;
$gray1: #585757;
$gray2: #808080;
$gray3: #a4a9ae;
$gray4: #c4c4c4;
$gray5: #D1D7DB;
