@import "src/styles/variables.scss";

.candidateWrapper {
  .description {
    max-width: 400px;
    margin-top: 60px;
  }
  .applications {
    max-width: 1200px;
    margin: auto;
    margin-top: 100px;
  }
  .action {
    text-align: center;
    margin-top: 40px;
    .viewAll {
      width: 155px;
      color: $maroon;
    }
  }
}

.userDetailContainer {
  height: 319px;
  width: 324px;
  padding: 12px 0px 0px 0px;
  background-color: $lightGreen;
  .setInterView {
    padding-right: 18px;
    display: flex;
    justify-content: flex-end;
    column-gap: 5px;
    align-items: center;
    text-align: end;
    margin-bottom: 10px;
    .interviewLink {
      color: $maroon;
      text-decoration: underline;
    }
  }
  .personalDetailWrapper {
    display: flex;
    column-gap: 20px;
    padding-left: 28px;
    .personalDetails {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
    }
  }
  .satisfyCriteria {
    width: 320px;
    padding-right: 2px;
  }
  .skillPercentageWrapper {
    display: flex;
    align-items: center;
    column-gap: 4px;
    justify-content: flex-end;
    margin-bottom: 10px;
    margin-top: 6px;
    padding-right: 2px;
  }
  .professionalDetails {
    padding: 40px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    gap: 12px;
    .alignRight {
      padding-left: 30px;
    }
  }
}
