@import "src/styles/variables.scss";

.overRiderInnerLinkWrapper {
  .ant-tabs-nav {
    margin-bottom: 0;
    &::before {
      border-width: 2px;
      border-color: $gray5;
      bottom: -2px;
    }
    .ant-tabs-nav-wrap {
      overflow: visible;
      .ant-tabs-nav-list {
        .ant-tabs-tab,
        .ant-tabs-tab-active {
          padding: 0;
        }
        .ant-tabs-ink-bar {
          height: 0;
        }
      }
    }
  }
}

.overRideTabsGap {
  .ant-tabs-nav {
    .ant-tabs-nav-list {
      .ant-tabs-tab:not(:first-child),
      .ant-tabs-tab-active:not(:first-child) {
        margin: 0px 0px 0px 80px;
      }
    }
  }
}
