@import "src/styles/variables.scss";

.userDetailContainer {
    width: 283px !important;
    height: 313px;
    padding: 13px 13px 63px 13px;
    border: 1px solid $lightRed;

    .personalDetailWrapper {
        display: flex;
        column-gap: 20px;
        height: 72px;

        .userIcon {
            padding-left: 17px;
        }

        .personalDetails {
            display: flex;
            flex-direction: column;
            row-gap: 2px;

            .name {
                color: $maroon;
            }

            .status {
                color: $green;
            }
        }
    }

    .skillPercentageWrapper {
        display: flex;
        justify-content: flex-end;
        column-gap: 3px;
        padding-right: 6px;
        align-items: center;

        .skillLabel {
            font-size: 10px;
            line-height: 14.69px;
            font-weight: 300;
        }
        .percentage{
            font-size: 16px;
            line-height: 18.75px;
            font-weight: 400;
            color: $green;
        }
    }
    .progressbar{
        margin: 0 11px 0 19px;
    }
    .professionalDetails{
        padding-top: 50px;
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 12px;
    }
}