@import "src/styles/variables.scss";

.inputWrapper {
  display: flex;
  flex-direction: column;
  row-gap: 4px;

  .inputField {
    border: none;
    border-bottom: 1px solid $gray5;
    border-radius: 0px;
    padding-left: 0px;
    box-shadow: none;
    background: transparent;
    &:hover {
      border-color: $gray5;
    }
    input {
      background: transparent;
      &::placeholder {
        color: $gray3;
      }
    }
  }
}
