@import "src/styles/variables.scss";

.outlineButton {
  background-color: transparent;
  border: 1px solid $maroon !important;
  border-radius: 8px;
  height: 48px;
  width: 100%;
  outline: none !important;
  box-shadow: none !important;

  .textWrapper {
    display: flex;
    column-gap: 8px;
    justify-content: center;
    align-items: center;
  }
}
